/* RESET : permet d'effacer le style par défaut imposé par le navigateur */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CLASSES FONCTIONELLES FLEX BOX */

/* rendre flexible un parent*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

/* alignement horizontal */
.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}


/* alignement vertical */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* aligner horizontalement du texte (ou une image qui se comporte comme du texte)*/
.textCenter {
    text-align: center;
}


/* CLASSES DE DIMENSIONS (classes de largeur)*/


.w-98 {
    width: 98%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}


.w-30 {
    width: 30%;
}

.w-23 {
    width: 23%;
}


body {
    font-family: "Playfair Display", serif;
}


/* SECTION HERO - BANNIERE */
.section-hero {
    background-image: url(asset/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}




/* GAP */
.gap-12 {
    gap: 12px;
}

/* classes margin / padding pour aérer ma page */
.margin-top-100 {
    margin-top: 100px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}


.padding-50 {
    padding: 50px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-100 {
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: black;
}

header ul {
    list-style: none;
}

.bgMarron {
    background-color: #996830;
}


/* background rouge pour faire mes test */
.bgRed {
    background-color: red;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.colorWhite {

    color: white;
}


.btn {
    background-color: #996830;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

.btn2 {
    background-color: #262424;
    color: white;
    padding: 10px 20px;
}

.btn-primary {
    font-size: 12px;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
}

.ph-fill {
    color: #655649;
}

.bold {
    font-weight: bold;
}

.borderMarron {
    border: solid #996830;

}

.txtMarron {
    color: #996830;
}

.imgDressing {
    height: 270px;
    object-fit: cover;
}

/* classe pour que l'image soit redimensionné pour maintenir son ratio d'affichage tout en
remplissant toute la boîte de contenu.
*/

.imgRedimensionne {
    object-fit: contain;
}

.trait {
    background-color: #996830;
    height: 2px;
    width: 64px;
}

.trait2 {
    background-color: white;
    height: 2px;
    width: 64px;
}

.paddingFormulaire {
    padding: 10px 150px 10px 10px;

}

/* /* police outfit */
.outfitPolice {
    font-family: "Outfit", sans-serif;

}

.plairfayPolice {
    font-family: "Playfair Display", serif;
}


.epiloguePolice {
    font-family: "Epilogue", sans-serif;
}

p,
h3 {
    font-family: "Outfit", sans-serif;

}

h1,
h2 {
    font-family: "Playfair Display", serif;
}

h2 {
    font-weight: lighter;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 400;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
}

.btnValider {
    border: none;
}