* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Playfair Display", serif;
}

.section-hero {
    background-image: url(asset/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/* Les classes fonctionelles flex box */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.textCenter {
    text-align: center;
}


/* GAP */
.gap-12 {
    gap: 12px;
}

/*  les classes de largeur */

.w-98 {
    width: 98%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-23 {
    width: 23%;
}

/* classes margin / padding pour aérer ma page */
.margin-top-100 {
    margin-top: 100px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}


.padding-50 {
    padding: 50px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-100 {
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: black;
}

header ul {
    list-style: none;
}

.bgMarron {
    background-color: #996830;
}


/* background rouge pour faire mes test */
.bgRed {
    background-color: red;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.colorWhite {

    color: white;
}


.btn {
    background-color: #996830;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
}

.btn-primary {
    font-size: 17px;
}

.ph-fill {
    color: #655649;
}

.bold {
    font-weight: bold;
}

.borderMarron {
    border: solid #996830;

}

.txtMarron {
    color: #996830;
}

.imgDressing {
    height: 270px;
    object-fit: cover;
}

.trait{
    background-color: #996830;
    height: 2px;
    width: 64px;
}

.trait2{
    background-color: white;
    height: 2px;
    width: 64px;
}